body {
  width: 100vw;
}
.title {
  color: white;
  text-align: center;
  font-size: 20vw;
  padding-top: 2%;
}
.label1 {
  color: white;
}
.row {
  width: 100vw;
  height: 100vh;
  
}
.col {
  background-image: url(../img/1.jpg);
  background-size: cover;
}
.col2{
    background-color:rgba(175, 175, 175, 0.8);
}
