body{
    background: #34363b;
    color: white;
}
.field{
    background: #2d2e319f;
    padding: 10px;
}


.card{
    width: 30%;
    height: 300px;
   background: rgba(218, 33, 104, 0.616);
   margin: 30px;
}
span{
    font-size: 10px;
}